# Fraud Detection with RAPIDS

In [1]:
import time
import xgboost as xgb
from tqdm import tqdm
import cudf

## 1. Load Data

Dataset from: https://www.kaggle.com/c/ieee-fraud-detection/

In [2]:
start_time = time.time()

In [3]:
#train_transaction = pd.read_csv("./data/train_transaction.csv", index_col="TransactionID")
#train_identity = pd.read_csv("./data/train_identity.csv", index_col="TransactionID")
train_transaction = cudf.read_csv("./data/train_transaction.csv", index_col="TransactionID")
train_identity = cudf.read_csv("./data/train_identity.csv", index_col="TransactionID")

In [4]:
train_transaction.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,0,86400,68.5,W,13926,<NA>,150.0,discover,142.0,credit,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
train_identity.head()

,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,id_10,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987004,0.0,70787.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
2987008,-5.0,98945.0,<NA>,<NA>,0.0,-5.0,<NA>,<NA>,<NA>,<NA>,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,<NA>,<NA>,0.0,0.0,...,chrome 62.0,<NA>,<NA>,<NA>,F,F,T,T,desktop,Windows
2987011,-5.0,221832.0,<NA>,<NA>,0.0,-6.0,<NA>,<NA>,<NA>,<NA>,...,chrome 62.0,<NA>,<NA>,<NA>,F,F,T,T,desktop,<NA>
2987016,0.0,7460.0,0.0,0.0,1.0,0.0,<NA>,<NA>,0.0,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [6]:
train_data = train_transaction.merge(train_identity, how="left", left_index=True, right_index=True)

In [7]:
# label
y_all = train_data["isFraud"].astype("int32")
y_all.head()

TransactionID
2990216    0
2990217    0
2990218    0
2990219    0
2990220    0
Name: isFraud, dtype: int32

Drop label (target column) and fill in blanks in the data. A very low, negative number works well for decision trees to indicate the absence of a feature (as opposed to a feature value of `0.0`)

In [8]:
# features (data)
x_all = train_data.drop("isFraud", axis=1)
x_all = x_all.fillna(-999.0)

converted_to_float = 0
converted_to_cat = 0
dropped = 0

for col in tqdm(x_all.columns):
    try:
        x_all[col] = x_all[col].astype("float32")
        converted_to_float += 1
    except:
        # only works for XGBoost GPU
        # convert column type to category
    #try:
            #
        #x_all[col] = x_all[col].astype("category")
        #converted_to_cat += 1
    #except:
        x_all.drop([col], axis=1,inplace=True)
        dropped += 1

x_all.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 432/432 [00:00<00:00, 861.84it/s]

,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,addr2,dist1,dist2,...,id_17,id_18,id_19,id_20,id_21,id_22,id_24,id_25,id_26,id_32
TransactionID,,,,,,,,,,,,,,,,,,,,,
2990216,153466.0,108.949997,4293.0,112.0,150.0,117.0,205.0,87.0,0.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2990217,153477.0,45.000000,18132.0,567.0,150.0,117.0,476.0,87.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2990218,153486.0,200.000000,7919.0,194.0,150.0,166.0,330.0,87.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2990219,153503.0,100.000000,4503.0,298.0,150.0,226.0,327.0,87.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2990220,153511.0,150.000000,16865.0,145.0,150.0,226.0,433.0,87.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [9]:
converted_to_float, converted_to_cat, dropped

(401, 0, 31)

In [10]:
x_all.info()

<class 'cudf.core.dataframe.DataFrame'>
Int64Index: 590540 entries, 2990216 to 3577478
Columns: 401 entries, TransactionDT to id_32
dtypes: float32(401)
memory usage: 907.9 MB

## 2. Train Model

Make train test split

In [11]:
from cuml.model_selection import train_test_split

In [12]:
x_all = x_all
y_all = y_all

In [13]:
print(x_all.shape)
print(y_all.shape)

(590540, 401)
(590540,)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(x_all, y_all, test_size=0.1, stratify=y_all)

In [15]:
print("Train:", X_train.shape, y_train.shape)
print(" Test:", X_test.shape, y_test.shape)

Train: (531486, 401) (531486,)
 Test: (59054, 401) (59054,)

Construct the XGBoost Classifier. You can also try out [additional arguments](https://xgboost.readthedocs.io/en/latest/parameter.html) to perform parameter tuning.

In [16]:
clf = xgb.XGBClassifier(
    n_estimators=100,
    max_depth=10,
    learning_rate=0.05,
    tree_method="gpu_hist",
    scale_pos_weight=2.0,
    use_label_encoder=False,
    enable_categorical=True,
)

In [17]:
train_start_time = time.time()

clf.fit(X_train, y_train,
        eval_set=[(X_train, y_train), (X_test, y_test)],
        verbose=True)

train_end_time = time.time()

print("Training taken:", int(train_end_time-train_start_time), "seconds")

[03:53:20] WARNING: /opt/conda/envs/rapids/conda-bld/xgboost_1643825494080/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[0]	validation_0-logloss:0.65023	validation_1-logloss:0.65039
[1]	validation_0-logloss:0.61137	validation_1-logloss:0.61171
[2]	validation_0-logloss:0.57591	validation_1-logloss:0.57640
[3]	validation_0-logloss:0.54354	validation_1-logloss:0.54416
[4]	validation_0-logloss:0.51387	validation_1-logloss:0.51462
[5]	validation_0-logloss:0.48661	validation_1-logloss:0.48748
[6]	validation_0-logloss:0.46141	validation_1-logloss:0.46241
[7]	validation_0-logloss:0.43810	validation_1-logloss:0.43923
[8]	validation_0-logloss:0.41651	validation_1-logloss:0.41778
[9]	validation_0-logloss:0.39651	validation_1-logloss:0.39791
[10]	validation_0-logloss:0.37774	validation_1-logloss:0.37931
[11]	validation_0-logloss:0.36018	validation_1-logloss:0.36188
[12]	validation_0-logloss:0.34397	validation_1-logloss:0.34580
[13]	validation_0-logloss:0.32881	validation_1-logloss:0.33076
[14]	validation_0-logloss:0.31474	validation_1-logloss:0.31682
[15]	validation_0-logloss:0.30148	validation_1-logloss:0.30367
[16]	validation_0-logloss:0.28901	validation_1-logloss:0.29133
[17]	validation_0-logloss:0.27729	validation_1-logloss:0.27974
[18]	validation_0-logloss:0.26628	validation_1-logloss:0.26889
[19]	validation_0-logloss:0.25597	validation_1-logloss:0.25870
[20]	validation_0-logloss:0.24626	validation_1-logloss:0.24914
[21]	validation_0-logloss:0.23715	validation_1-logloss:0.24015
[22]	validation_0-logloss:0.22858	validation_1-logloss:0.23171
[23]	validation_0-logloss:0.22045	validation_1-logloss:0.22372
[24]	validation_0-logloss:0.21276	validation_1-logloss:0.21617
[25]	validation_0-logloss:0.20552	validation_1-logloss:0.20907
[26]	validation_0-logloss:0.19872	validation_1-logloss:0.20236
[27]	validation_0-logloss:0.19228	validation_1-logloss:0.19607
[28]	validation_0-logloss:0.18626	validation_1-logloss:0.19015
[29]	validation_0-logloss:0.18049	validation_1-logloss:0.18453
[30]	validation_0-logloss:0.17506	validation_1-logloss:0.17921
[31]	validation_0-logloss:0.16992	validation_1-logloss:0.17424
[32]	validation_0-logloss:0.16505	validation_1-logloss:0.16948
[33]	validation_0-logloss:0.16047	validation_1-logloss:0.16503
[34]	validation_0-logloss:0.15612	validation_1-logloss:0.16080
[35]	validation_0-logloss:0.15202	validation_1-logloss:0.15686
[36]	validation_0-logloss:0.14809	validation_1-logloss:0.15304
[37]	validation_0-logloss:0.14439	validation_1-logloss:0.14945
[38]	validation_0-logloss:0.14092	validation_1-logloss:0.14608
[39]	validation_0-logloss:0.13757	validation_1-logloss:0.14284
[40]	validation_0-logloss:0.13438	validation_1-logloss:0.13975
[41]	validation_0-logloss:0.13141	validation_1-logloss:0.13690
[42]	validation_0-logloss:0.12860	validation_1-logloss:0.13423
[43]	validation_0-logloss:0.12586	validation_1-logloss:0.13161
[44]	validation_0-logloss:0.12322	validation_1-logloss:0.12909
[45]	validation_0-logloss:0.12072	validation_1-logloss:0.12671
[46]	validation_0-logloss:0.11832	validation_1-logloss:0.12439
[47]	validation_0-logloss:0.11592	validation_1-logloss:0.12215
[48]	validation_0-logloss:0.11378	validation_1-logloss:0.12011
[49]	validation_0-logloss:0.11175	validation_1-logloss:0.11814
[50]	validation_0-logloss:0.10968	validation_1-logloss:0.11620
[51]	validation_0-logloss:0.10781	validation_1-logloss:0.11445
[52]	validation_0-logloss:0.10606	validation_1-logloss:0.11281
[53]	validation_0-logloss:0.10434	validation_1-logloss:0.11116
[54]	validation_0-logloss:0.10267	validation_1-logloss:0.10956
[55]	validation_0-logloss:0.10097	validation_1-logloss:0.10801
[56]	validation_0-logloss:0.09941	validation_1-logloss:0.10656
[57]	validation_0-logloss:0.09796	validation_1-logloss:0.10527
[58]	validation_0-logloss:0.09657	validation_1-logloss:0.10398
[59]	validation_0-logloss:0.09528	validation_1-logloss:0.10280
[60]	validation_0-logloss:0.09399	validation_1-logloss:0.10165
[61]	validation_0-logloss:0.09275	validation_1-logloss:0.10049
[62]	validation_0-logloss:0.09159	validation_1-logloss:0.09947
[63]	validation_0-logloss:0.09047	validation_1-logloss:0.09846
[64]	validation_0-logloss:0.08939	validation_1-logloss:0.09745
[65]	validation_0-logloss:0.08840	validation_1-logloss:0.09659
[66]	validation_0-logloss:0.08740	validation_1-logloss:0.09571
[67]	validation_0-logloss:0.08647	validation_1-logloss:0.09490
[68]	validation_0-logloss:0.08554	validation_1-logloss:0.09404
[69]	validation_0-logloss:0.08461	validation_1-logloss:0.09322
[70]	validation_0-logloss:0.08375	validation_1-logloss:0.09241
[71]	validation_0-logloss:0.08295	validation_1-logloss:0.09169
[72]	validation_0-logloss:0.08211	validation_1-logloss:0.09095
[73]	validation_0-logloss:0.08143	validation_1-logloss:0.09036
[74]	validation_0-logloss:0.08067	validation_1-logloss:0.08966
[75]	validation_0-logloss:0.07993	validation_1-logloss:0.08903
[76]	validation_0-logloss:0.07910	validation_1-logloss:0.08831
[77]	validation_0-logloss:0.07835	validation_1-logloss:0.08761
[78]	validation_0-logloss:0.07757	validation_1-logloss:0.08693
[79]	validation_0-logloss:0.07688	validation_1-logloss:0.08632
[80]	validation_0-logloss:0.07625	validation_1-logloss:0.08578
[81]	validation_0-logloss:0.07577	validation_1-logloss:0.08535
[82]	validation_0-logloss:0.07507	validation_1-logloss:0.08474
[83]	validation_0-logloss:0.07444	validation_1-logloss:0.08420
[84]	validation_0-logloss:0.07380	validation_1-logloss:0.08364
[85]	validation_0-logloss:0.07326	validation_1-logloss:0.08319
[86]	validation_0-logloss:0.07262	validation_1-logloss:0.08263
[87]	validation_0-logloss:0.07214	validation_1-logloss:0.08227
[88]	validation_0-logloss:0.07157	validation_1-logloss:0.08175
[89]	validation_0-logloss:0.07115	validation_1-logloss:0.08138
[90]	validation_0-logloss:0.07063	validation_1-logloss:0.08092
[91]	validation_0-logloss:0.07014	validation_1-logloss:0.08054
[92]	validation_0-logloss:0.06961	validation_1-logloss:0.08008
[93]	validation_0-logloss:0.06919	validation_1-logloss:0.07973
[94]	validation_0-logloss:0.06878	validation_1-logloss:0.07939
[95]	validation_0-logloss:0.06843	validation_1-logloss:0.07912
[96]	validation_0-logloss:0.06801	validation_1-logloss:0.07881
[97]	validation_0-logloss:0.06767	validation_1-logloss:0.07853
[98]	validation_0-logloss:0.06727	validation_1-logloss:0.07824
[99]	validation_0-logloss:0.06694	validation_1-logloss:0.07801
Training taken: 10 seconds

## 3. Evaluation

In [18]:
preds = clf.predict(X_test)
acc_xgb = (preds == y_test.to_numpy()).sum().astype(float) / len(preds)*100

In [19]:
end_time = time.time()

time_taken = int(end_time - start_time)

In [20]:
print("XGBoost's prediction accuracy is: %3.2f" % (acc_xgb))
print("Total time taken:", time_taken)

XGBoost's prediction accuracy is: 98.04
Total time taken: 17

<br>
<div align="center"><h2>Please Restart the Kernel</h2></div>

In [21]:
#import IPython
#app = IPython.Application.instance()
#app.kernel.do_shutdown(True)